html {
    scroll-behavior: smooth;
}

body {
    font: 2vh 'monospace';
}

/* ----------------------------------------*/
/*                 Header
/* ----------------------------------------*/

header {
    text-align: center;
}

header .intro-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90vh
}

header .intro-item h1 {
    font: 12vh 'monospace';
    letter-spacing: -3px;
}

header .intro-item h3 {
    font: 3vh 'monospace';
    letter-spacing: -1px;
}

ul#nav {
    font: 2vh 'monospace';
    position: fixed;
    z-index: 2;
    top: 0;
    width: 100%;
    list-style-type: none;
    margin-top: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

ul#nav li a {
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

ul#nav li a:hover {
    background-color: #111111;
}

header .icons a {
    padding: 20px;
}

header .icons a {
    text-decoration: none;
    color: black;
}

.floating {
    animation: floating 3s ease-in-out infinite;
    text-decoration: none;
    /* padding-top: 12%; */
}

a.float-icon:visited {
    color: black;
}

@keyframes floating { 
    0% { transform: translate(0,  0px); } 
    50%  { transform: translate(0, 12px); } 
    100%   { transform: translate(0, -0px); }     
} 

/* ----------------------------------------*/
/*                Education
/* ----------------------------------------*/

section#education {
    overflow: hidden;
    padding-top: 80px;
}

#education .button {
    background: #383838;
    padding: 15px;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font: 2.25vh 'monospace';
}

#education .button-element {
    display: flex;
    justify-content: center;
    margin-bottom: 3%;
}

#education .button:hover {
    background: #080808;
}

/* For mobile */

#education, #experience, #skills, #projects {
    text-align: center;
}

#education .row-item h1, #experience h1, #skills h1, #projects h1 {
    font-weight: 500;
    text-transform: uppercase;
}

#education .college-info, #education .course-block, .exp-block, .skill-block {
    text-align: left;
    width: 60%;
    margin: 0 auto;
}


/* For Desktop */
/* #education .row-item {
    display: grid;
    grid-template-columns: 15% 20% auto 20%;
} */

 /* For Desktop */
/* .education-title { */
    /* grid-column: 2 / 3; */
    /* font-weight: 500;
    text-transform: uppercase; */
    /* letter-spacing: 1px; */
    /* padding-left: 15%; */
    /* width: 50%; */
    /* float: left; */
    /* padding-top: 50%; */
/* } */

.date-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.college-name {
    grid-column: 3 / 4;
    margin: none;
}

/* For Desktop */
/* .college-info {
    grid-column: 3 / 4;
    font-weight: 500;
    font: 2vh 'monospace';
} */

/* For Desktop */
/* #education .row-item h1 {
    grid-column: 2 / 3;
    font-weight: 500;
    text-transform: uppercase;
} */

#education .course-top {
    text-decoration: underline;
}

#education .course-block {
    /* padding-left: 35%; */
    grid-column: 3 / 4;
    list-style-type: none;
}
/* 
div#course-top {
    padding-top: 20px;
} */

/* ----------------------------------------*/
/*                Experience
/* ----------------------------------------*/

section#experience {
    overflow: hidden;
    padding-top: 50px;
}

/* #experience h1 span {
    font-weight: 500;
    text-transform: uppercase;
    padding-left: 15%;
    float: left;
}

.experience-content {
    padding-left: 35%;
}

.experience-content span {
    position: absolute;
    left: 75%;
    font-weight: 500;
    font: 18px 'monospace';
}

.experience-content ul {
    padding-right: 30%;
} */

/* ----------------------------------------*/
/*                  Skills
/* ----------------------------------------*/

#skills {
    overflow: hidden;
    padding-top: 50px;
}

/* #skills h1 span {
    font-weight: 500;
    text-transform: uppercase;
    padding-left: 15%;
    padding-top: 15px;
    float: left;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
}

#skill-child {
    flex: 1;
    align-items: center;
}

#skills ul {
    list-style-type: none;
}

.skill-block {
    padding-left: 80%;
}

.tech {
    padding-right: 30%;
} */

/* ----------------------------------------*/
/*                 Projects
/* ----------------------------------------*/

#projects {
    overflow: hidden;
    padding-top: 50px;
}

/* .projects-title h1 span {
    text-transform: uppercase;
    font-weight: 500;
} */